absl-py==1.0.0
altgraph==0.17.2
appdirs==1.4.4
azure-cognitiveservices-vision-computervision==0.9.0
azure-cognitiveservices-vision-customvision==3.1.0
azure-common==1.1.28
black==21.9b0
boto3==1.21.28
botocore==1.24.28
cachetools==5.0.0
cachew==0.10.0
certifi==2022.12.7
charset-normalizer==2.0.12
click==8.0.3
colorama==0.4.4
cycler==0.11.0
falcon==2.0.0
filelock==3.7.0
fire==0.4.0
Flask==2.1.0
fonttools==4.29.1
future==0.18.2
geos==0.2.3
google-auth==2.6.2
google-auth-oauthlib==0.4.6
greenlet==1.1.2
grpcio==1.44.0
hug==2.6.1
idna==3.3
imagecodecs==2022.2.22
imageio==2.16.1
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.1
jmespath==1.0.0
kiwisolver==1.3.2
logzero==1.7.0
lxml==4.8.0
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib==3.5.1
mistletoe==0.8.2
more-itertools==8.13.0
msrest==0.6.21
mypy-extensions==0.4.3
networkx==2.7.1
numpy==1.22.2
oauthlib==3.2.0
opencv-python==4.5.5.64
orgparse==0.3.1
packaging==21.3
pandas==1.4.1
pathspec==0.9.0
pefile==2021.9.3
Pillow==9.0.1
platformdirs==2.4.0
promnesia==1.0.20220515
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyinstaller==4.9
pyinstaller-hooks-contrib==2022.2
PyMuPDF==1.19.1
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.3.0
pywin32-ctypes==0.2.0
PyYAML==6.0
regex==2021.10.23
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
s3transfer==0.5.2
sahi==0.9.1
scikit-image==0.19.2
scipy==1.8.0
seaborn==0.11.2
Shapely==1.8.1.post1
six==1.16.0
SQLAlchemy==1.4.36
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
termcolor==1.1.0
terminaltables==3.1.10
thop==0.0.31.post2005241907
tifffile==2022.3.25
tomli==1.2.2
torch==1.11.0
torchvision==0.12.0
tqdm==4.63.1
typing-extensions==3.10.0.2
tzdata==2022.1
tzlocal==4.2
uritools==4.0.0
urlextract==1.5.0
urllib3==1.26.8
Werkzeug==2.1.0
yolov5==6.0.6
